

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}
body{
  background-color: #F5F8FF;
}
.display-flax{
  display: flex;
}
/* color black */
.balck{
  color: #252432;
}
/* dark 2 */
.color-2{
  color: #8987A1;
}
/* color 3 */
.color-3{
  color: #E95A08;
}
.bold-text{
  font-weight: bold;
  font-size: 3.12rem;
}

/* nav style  */
.header{
  max-width: 1140px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.navber{
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  /* height: 71px; */
  margin: auto;
}
.nav-link{
  list-style: none;
  gap: 48px;
}
.nav-link-item{
  text-decoration: none;
}
.banner-title{
  font-weight: bold;
  font-size: 4rem;
}
.card{
  max-width: 1140px;
  justify-content: center;
  text-align: center;
  margin: 105px auto;
}
.our-plants{
  background-color: #FFFFFF;
}
.card-content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card-btn{
  background-color: #E95A08;
  color: #FFFFFF;
  padding: 19px 80px;
  margin-bottom: 20px;
  border: none;
}

.plants-lover{
  max-width: 1140px;
  margin: 220px auto;
}
.plant-sil{
  width: 286px;
  height: 286px;
  margin-top: -130px;
  margin-left: -190px;
}
@media screen and (max-width: 576px){
  .banner{
    flex-direction: column-reverse;
    max-width: 100%;
  }
  .navbar{
    max-width: 100%;
  }
  .nav-links{
    display: none;
  }
  .card-content{
    grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  }
  .plant-card{
  max-width: 175px;
  }
  .plant-pic{
    width: 175px;
  }
  .card-btn{
    max-width: 175px;
    margin-bottom: 0;
    padding: 12px 42px;
  }
.plant-sil{
    display: none;
  }
  .plants-lover{
    flex-direction: column;
  }
.lover-pic{
  width: 358px;
}  
}