

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}
body{
  background-color: #F5F8FF;
}
.display-flax{
  display: flex;
}
/* color black */
.balck{
  color: #252432;
}
/* dark 2 */
.color-2{
  color: #8987A1;
}
/* color 3 */
.color-3{
  color: #E95A08;
}
.bold-text{
  font-weight: bold;
  font-size: 3.12rem;
}

/* nav style  */
.header{
  max-width: 1140px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.navber{
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  /* height: 71px; */
  margin: auto;
}
.nav-link{
  list-style: none;
  gap: 48px;
}
.nav-link-item{
  text-decoration: none;
}
.banner-title{
  font-weight: bold;
  font-size: 4rem;
}
.card{
  max-width: 1140px;
  justify-content: center;
  text-align: center;
  margin: 105px auto;
}
.our-plants{
  background-color: #FFFFFF;
}
.card-content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

}
.card-btn{
  background-color: #E95A08;
  color: #FFFFFF;
  padding: 19px 88px;
  margin-bottom: 20px;
  border: none;
}

.plants-lover{
  max-width: 1140px;
  margin: 220px auto;
}
.plant-sil{
  width: 286px;
  height: 286px;
  margin-top: -130px;
  margin-left: -190px;
}

.latest-deals{
  justify-content: center;
  text-align: center;
}
.shop-now-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  max-width: 1140px;
  height: 424px;
  margin:120px auto;
  gap: 0px;
}
.shop-now-frist{
  background-image: url(../assets/deal-bloom.png);
  background-repeat: no-repeat;
  /* background-position: center;  */
  justify-content: center;
  align-items: center;
  /* padding: 65px 48px 114px; */
  color : #F5F8FF;
  width: 100%;
  height: 100%;
  border-radius: 10px;  
}
.shop-now-second{
  background-image: url(../assets/deal-ana.png);
  background-repeat: no-repeat;
  /* background-position: center; */
  justify-content: center;
  align-items: center;
  /* padding: 60px 48px 114px ; */
  color: #F5F8FF;
  width: 100%;
  /* height: 50%; */
  height: 100%;
  border-radius: 10px;
}
.shop-now-third{
  background-image: url(../assets/deal-zabo.png);
   background-repeat: no-repeat;
  /* background-position: center; */
  justify-content: center;
  align-items: center;
  color: #F5F8FF;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.shop-now-doble{
  height: calc( (100% - 35px)/2 ); 
}
.shop-now-frist,.shop-text-second{
  text-align: center;
  margin: -7 110px;
}


/* jion sector  */
.join-bunch{
  margin: 120px auto;
  justify-content: center;
  text-align: center;
  background-image: url(../assets/news-letter-bg.png);
  background-repeat: no-repeat;
  max-width: 1440px;
  padding: 185px 0;
}
#email{
  width: 50%;
  border: none;
  height: 40px;
}
#btn{
  width: 10%;
  margin-left: -3px;
  border: none;
  background-color: #E95A08;
  color: #FFFFFF;
  height: 40px;
}
#text{
  font-size: 3.12rem;
  font-weight: bold;
  color: #FFFFFF;
}

.footer{
  max-width: 1440px;
  margin: 50px 170px 100px auto;
  gap: 110px;
  
  justify-content: center;
}

.desh{
  margin-bottom: 20px;
  list-style: none;
  text-decoration: none;
  color: #8987A1;;
}
.icon{
  gap: 24px;
}

@media screen and (max-width: 576px){
  .banner{
    flex-direction: column-reverse;
    max-width: 100%;
  }
  .navbar{
    max-width: 100%;
  }
  .nav-links{
    display: none;
  }
  .card-content{
    grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  
  }
  .plant-card{
  max-width: 175px;
  } 
   .plant-pic{
    width: 175px; 
  }
.card-btn{
    max-width: 175px;
    margin-bottom: 0;
    padding: 12px 42px;
  }  
   .plant-sil{
display: none;
   } 
  
  .plants-lover{
    flex-direction: column;
  }
.lover-pic{
  width: 358px;
}  
.shop-now-container{
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
.shop-now-doble, .shop-now-third{
  max-width: 100%;
}

.join-bunch{
  max-width: 100%;
  height: 100%;
}
.footer{
  flex-direction: column;
}

}